---
layout: default
title: Política de Privacidade
---

<h1>POL&Iacute;TICA DE PRIVACIDADE DA PLATAFORMA DO LINK DE PAGAMENTO BAVA</h1>
<p>O BAVA leva muito a s&eacute;rio as suas informa&ccedil;&otilde;es. Por essa raz&atilde;o, esse documento descreve como coletaremos, armazenaremos, processaremos, compartilharemos, transferiremos ou de qualquer forma utilizaremos as informa&ccedil;&otilde;es que tivermos acesso em raz&atilde;o da sua utiliza&ccedil;&atilde;o da Plataforma do Link de Pagamento BAVA (&ldquo;Plataforma BAVA&rdquo;), bem como as pr&aacute;ticas de privacidade adotadas para salvaguardar tais informa&ccedil;&otilde;es.</p>
<p>Este documento &eacute; parte integrante e indissoci&aacute;vel aos Termos de Uso<sup><a href="#cmnt1">[a]</a></sup>. CASO VOC&Ecirc; TENHA QUALQUER D&Uacute;VIDA SOBRE ESSA POL&Iacute;TICA OU SOBRE OS TERMOS DE USO, ANTES DE UTILIZAR OS SERVI&Ccedil;OS, ENTRE EM CONTATO CONOSCO ATRAV&Eacute;S DOS NOSSOS CANAIS TELEFONE (0800 326 0941) E E-MAIL (<a href="mailto:contato@bavabank.com">contato@bavabank.com</a>).</p>
<p>Ao fazer seu cadastro para utilizar o Link de Pagamento BAVA e clicar em &ldquo;LI E CONCORDO COM OS TERMOS DE USO E POL&Iacute;TICA DE PRIVACIDADE DA PLATAFORMA DO LINK DE PAGAMENTO BAVA&rdquo;, Voc&ecirc; estar&aacute; concordando de forma LIVRE, EXPRESSA E INFORMADA com o uso de suas informa&ccedil;&otilde;es conforme descrito nessa Pol&iacute;tica de Privacidade.</p>
<p>Voc&ecirc; pode se recusar ao tratamento de seus dados pessoais. Destacamos, contudo, que, nesse caso, n&atilde;o ser&aacute; poss&iacute;vel a voc&ecirc; acessar ou usar o Link de Pagamento BAVA.</p>
<p>Caso tenha qualquer d&uacute;vida sobre o tratamento dos seus dados ou queira exercer seus direitos, por favor entre em contato com nosso time de atendimento atrav&eacute;s do email <a href="mailto:contato@bavabank.com">contato@bavabank.com</a>&nbsp;ou pelo n&uacute;mero de telefone 0800 326 0941.</p>
<p>Para facilitar a sua leitura, dividimos a Pol&iacute;tica de Privacidade nos seguintes cap&iacute;tulos:</p>

<h2>SUM&Aacute;RIO</h2>
<ol>
  <li><a href="#s1">RESUMO DA POL&Iacute;TICA DE PRIVACIDADE</a></li>
  <li><a href="#s2">APRESENTA&Ccedil;&Otilde;ES</a></li>
  <li><a href="#s3">COMO OBTEMOS OS DADOS?</a></li>
  <li><a href="#s4">FINALIDADE DO TRATAMENTO DOS DADOS</a></li>
  <li><a href="#s5">COMPARTILHAMENTO E TRANSFER&Ecirc;NCIA DE DADOS</a></li>
  <li><a href="#s6">OUTRAS INFORMA&Ccedil;&Otilde;ES</a></li>
</ol>

<hr />

<h3 id="s1">1. RESUMO DA POL&Iacute;TICA DE PRIVACIDADE</h3>
<p>Todas as disposi&ccedil;&otilde;es dessa Pol&iacute;tica de Privacidade s&atilde;o extremamente importantes para a nossa rela&ccedil;&atilde;o com Voc&ecirc;. Para facilitar a sua leitura, preparamos o quadro abaixo com os principais pontos que Voc&ecirc; deve se atentar. De qualquer modo, o quadro resumo n&atilde;o substitui o restante do texto deste documento e continua essencial que Voc&ecirc; leia todo o documento.</p>

<table>
  <tbody>
    <tr>
      <td>
        <p>Dados tratados</p>
      </td>
      <td>
        <p>Dados Pessoais (como nome, e-mail, dados de cart&atilde;o de cr&eacute;dito, dados necess&aacute;rios para transa&ccedil;&atilde;o)</p>
      </td>
      <td width="100">
        <p>Item 2.1</p>
      </td>
    </tr>
    <tr>
      <td>
        <p>Coleta dos Dados Pessoais</p>
      </td>
      <td>
        <p>A coleta ocorre quando:</p>
        <p>Voc&ecirc; os fornece para n&oacute;s;</p>
        <p>Quando um terceiro os fornece para n&oacute;s; e</p>
        <p>Coletamos automaticamente</p>
      </td>
      <td>
        <p>Item 3.1</p>
      </td>
    </tr>
    <tr>
      <td>
        <p>Finalidades de tratamento</p>
      </td>
      <td>
        <ul>
          <li>Viabilizar o pagamento das suas compras junto ao Fornecedor, por meio da Credenciadora;</li>
          <li>Verificar sua identidade para permitir o seu pagamento;</li>
          <li>Enviar mensagens e contat&aacute;-lo (via push, SMS, e-mail, telefone, etc.) sobre o BAVA e sobre novos produtos e/ou servi&ccedil;os da ICREDIT, inclusive publicit&aacute;rias;</li>
          <li>Identifica&ccedil;&atilde;o e preven&ccedil;&atilde;o de eventuais amea&ccedil;as de seguran&ccedil;a;</li>
          <li>Identifica&ccedil;&atilde;o e apura&ccedil;&atilde;o de suspeita de fraudes, viola&ccedil;&atilde;o de direitos de terceiros ou outros il&iacute;citos praticados por usu&aacute;rios, investiga&ccedil;&atilde;o por terceiros prejudicados e/ou por autoridades competentes;</li>
          <li>Exerc&iacute;cio regular de direitos da ICREDIT, inclusive em processo judicial, administrativo ou arbitral;</li>
          <li>Leg&iacute;timo interesse da ICREDIT, respeitados os seus direitos fundamentais;</li>
          <li>Inclu&iacute;-los nos ativos da ICREDIT.</li>
        </ul>
      </td>
      <td>
        <p>Item 4.2.</p>
      </td>
    </tr>
    <tr>
      <td>
        <p>Bases legais de tratamento</p>
      </td>
      <td>
        <p>Consentimento;</p>
        <p>Cumprimento de obriga&ccedil;&atilde;o Legal;</p>
        <p>Execu&ccedil;&atilde;o de contrato a pedido do titular;</p>
        <p>Exerc&iacute;cio regular de direitos em processo judicial, administrativo ou arbitral;</p>
        <p>Leg&iacute;timo interesse do controlador.</p>
      </td>
      <td>
        <p>Item 4.3</p>
      </td>
    </tr>
    <tr>
      <td>
        <p>Compartilhamento de Dados Pessoais</p>
      </td>
      <td>
        <p>Com terceiros respons&aacute;veis pela viabiliza&ccedil;&atilde;o da realiza&ccedil;&atilde;o do pagamento e outros fornecedores da ICREDIT, como fornecedores de tecnologia, para possibilitar a realiza&ccedil;&atilde;o da intermedia&ccedil;&atilde;o do processo de pagamento;</p>
        <p>Com as Credenciadoras.</p>
      </td>
      <td>
        <p>Item 5.1</p>
      </td>
    </tr>
    <tr>
      <td>
        <p>Transfer&ecirc;ncia internacional</p>
      </td>
      <td>
        <p>&Eacute; poss&iacute;vel para fins de possibilitar seu acesso ao Link de Pagamento BAVA.</p>
      </td>
      <td>
        <p>Item 5.2</p>
      </td>
    </tr>
  </tbody>
</table>

<h3 id="s2">2. APRESENTA&Ccedil;&Otilde;ES</h3>

<ol start="1">
  <li>A quais dados este documento se refere?&nbsp;Esta Pol&iacute;tica de Privacidade diz respeito a dados (&ldquo;Dados&rdquo;) que, conforme o caso, podem ser:</li>
</ol>

<p>Dados Pessoais: informa&ccedil;&otilde;es que podem identificar ou permitir a sua identifica&ccedil;&atilde;o ou a identifica&ccedil;&atilde;o de uma pessoa natural, como nome, e-mail, dados de cart&atilde;o de cr&eacute;dito, dados necess&aacute;rios para transa&ccedil;&atilde;o; ou</p>
<p>Dados Pessoais Sens&iacute;veis: s&atilde;o os Dados Pessoais que dizem respeito sobre origem racial ou &eacute;tnica, convic&ccedil;&atilde;o religiosa, opini&atilde;o pol&iacute;tica, filia&ccedil;&atilde;o a sindicato ou a organiza&ccedil;&atilde;o de car&aacute;ter religioso, filos&oacute;fico ou pol&iacute;tico, dado referente &agrave; vida sexual, dado gen&eacute;tico ou biom&eacute;trico, quando vinculado a uma pessoa natural. N&atilde;o h&aacute; coleta de dados pessoais sens&iacute;veis no &acirc;mbito desta Pol&iacute;tica de Privacidade.</p>

<ol start="2">
  <li>Quem &eacute; respons&aacute;vel pelo processamento dos Dados Pessoais?&nbsp;A respons&aacute;vel pelo tratamento de seus Dados no &acirc;mbito dessa Pol&iacute;tica de Privacidade &eacute; a ICREDIT CAPITAL LTDA., sociedade limitada, com sede na cidade de S&atilde;o Paulo, Estado de S&atilde;o Paulo, na Avenida das Na&ccedil;&otilde;es Unidas, 11.633, 8&ordm; andar, Brooklin Novo, CEP 04578-901, inscrita no CNPJ sob o n&ordm; 38.099.278/0001-30. Nesse documento estaremos sempre identificados como &ldquo;n&oacute;s&rdquo;, &ldquo;nossos&rdquo; ou &ldquo;ICREDIT&rdquo;.</li>
</ol>

<ol start="1">
  <li>O processamento de seus Dados tamb&eacute;m poder&aacute; ser realizado por terceiros, n&atilde;o vinculados &agrave; ICREDIT, caso voc&ecirc; forne&ccedil;a, por sua pr&oacute;pria vontade, seus Dados para esses terceiros, por exemplo, no momento de seu cadastro na plataforma do Fornecedor. Nesses casos, a forma como esses terceiros tratar&atilde;o seus Dados estar&aacute; descrita em pol&iacute;tica de privacidade pr&oacute;pria do terceiro, o que foge do controle da ICREDIT, n&atilde;o tendo a ICREDIT qualquer responsabilidade pelos tratamentos que esse terceiro venha a realizar conforme as autoriza&ccedil;&otilde;es que Voc&ecirc; conceder a tais terceiros. N&atilde;o nos responsabilizamos por quaisquer atos desses terceiros. Caso Voc&ecirc; decida adquirir produtos e/ou utilizar os servi&ccedil;os e aplica&ccedil;&otilde;es desses terceiros, Voc&ecirc; os far&aacute; por sua conta e risco.</li>
</ol>

<h3 id="s3">3. COMO OBTEMOS OS DADOS?</h3>

<ol start="1">
  <li>Alguns Dados s&atilde;o fornecidos pelo Fornecedor, outros poder&atilde;o ser coletados quando o Usu&aacute;rio nos informar diretamente ou atrav&eacute;s de suas intera&ccedil;&otilde;es com a Plataforma BAVA e ser&atilde;o tratados em conformidade com a legisla&ccedil;&atilde;o aplic&aacute;vel, bem como com a presente Pol&iacute;tica de Privacidade.</li>
</ol>

<p>Dados fornecidos por terceiros: Os seus Dados poder&atilde;o ser compartilhados por terceiros com a ICREDIT, na medida em que Voc&ecirc; tenha fornecido a tais terceiros as autoriza&ccedil;&otilde;es para que esse compartilhe seus Dados conosco. Por exemplo, para possibilitar o processamento de pagamento de produto e/ou servi&ccedil;os que Voc&ecirc; tenha adquirido de um Fornecedor &eacute; poss&iacute;vel que a ICREDIT receba os dados da transa&ccedil;&atilde;o realizada junto a esse Fornecedor, incluindo, por exemplo, o produto adquirido e/ou servi&ccedil;os contratados e o valor de pagamento a ser processado pela Credenciadora, Dados esses necess&aacute;rios para possibilitar o seu pagamento.</p>
<p>Dados fornecidos por Voc&ecirc;: Os Dados podem se referir a informa&ccedil;&otilde;es submetidas por Voc&ecirc; durante seus cadastro e/ou utiliza&ccedil;&atilde;o do BAVA, incluindo seunome, e-mail e dados de cart&atilde;o de cr&eacute;dito.</p>
<p>Dados coletados automaticamente:&nbsp;S&atilde;o os Dados obtidos automaticamente em raz&atilde;o de suas intera&ccedil;&otilde;es com a Plataforma BAVA, como, por exemplo, endere&ccedil;os de IP (Internet Protocol, conjunto de n&uacute;meros que identifica o computador dos usu&aacute;rios), hora e data de acesso, a&ccedil;&otilde;es efetuadas por Voc&ecirc;, se&ccedil;&otilde;es da Plataforma BAVA acessadas, informa&ccedil;&otilde;es de data e hor&aacute;rio de suas a&ccedil;&otilde;es e acessos, session ID, dispositivo m&oacute;vel utilizado, se aplic&aacute;vel, geolocaliza&ccedil;&atilde;o, c&acirc;mera, galeria de fotos, informa&ccedil;&otilde;es sobre a sua tela e resolu&ccedil;&atilde;o, tempo despendido, dentre outras informa&ccedil;&otilde;es.</p>

<h3 id="s4">4. FINALIDADE DO TRATAMENTO DOS DADOS</h3>

<ol start="1">
  <li>Por que tratamos seus Dados?&nbsp;Tratamos os Dados com o objetivo principal de intermediar e possibilitar o seu pagamento ao Fornecedor, por meio da Credenciadora. Seus Dados poder&atilde;o, ainda, ser utilizados para os Usos Autorizados abaixo descritos.</li>
  <li>Para que os Dados poder&atilde;o ser utilizados? Os seus Dados poder&atilde;o ser utilizados (&ldquo;Usos Autorizados&rdquo;) para os fins de:</li>
</ol>

<ol start="1">
  <li>Viabilizar o seu pagamento ao Fornecedor, por meio da Credenciadora;</li>
  <li>Verificar sua identidade para permitir o seu pagamento;</li>
  <li>Enviar mensagens e contat&aacute;-lo (via push, SMS, e-mail, telefone, etc.) sobre a Plataforma BAVA e sobre novos produtos e/ou servi&ccedil;os da ICREDIT, inclusive publicit&aacute;rias;</li>
  <li>Identifica&ccedil;&atilde;o e preven&ccedil;&atilde;o de eventuais amea&ccedil;as de seguran&ccedil;a;</li>
  <li>Identifica&ccedil;&atilde;o e apura&ccedil;&atilde;o de suspeita de fraudes, viola&ccedil;&atilde;o de direitos de terceiros ou outros il&iacute;citos praticados por usu&aacute;rios, investiga&ccedil;&atilde;o por terceiros prejudicados e/ou por autoridades competentes;</li>
  <li>Exerc&iacute;cio regular de direitos da ICREDIT, inclusive em processo judicial, administrativo ou arbitral;</li>
  <li>Leg&iacute;timo interesse da ICREDIT, respeitados os seus direitos fundamentais;</li>
  <li>Inclu&iacute;-los nos ativos da ICREDIT.</li>
</ol>

<ol start="1">
  <li>O eventual uso dos Dados para finalidades que n&atilde;o cumpram com essa prerrogativa ser&aacute; feito mediante notifica&ccedil;&atilde;o pr&eacute;via a Voc&ecirc;, sempre que poss&iacute;vel e razo&aacute;vel.</li>
</ol>

<ol start="3">
  <li>Qual &eacute; a legitimidade do tratamento?&nbsp;As bases legais que legitimam o tratamento de seus Dados s&atilde;o: execu&ccedil;&atilde;o da rela&ccedil;&atilde;o jur&iacute;dica&nbsp;entre as partes decorrente da sua utiliza&ccedil;&atilde;o da Plataforma BAVA, cumprimento de obriga&ccedil;&atilde;o legal, as autoriza&ccedil;&otilde;es que Voc&ecirc; nos conceder&nbsp;nos termos dessa Pol&iacute;tica de Privacidade, eventual exerc&iacute;cio regular de direito em processo judicial, administrativo ou arbitral&nbsp;e, ainda, o leg&iacute;timo interesse&nbsp;da ICREDIT.</li>
</ol>

<h3 id="s5">5. COMPARTILHAMENTO E TRANSFER&Ecirc;NCIA DE DADOS</h3>

<ol start="1">
  <li>Com quem compartilhamos suas informa&ccedil;&otilde;es?&nbsp;Os Dados poder&atilde;o ser compartilhados com terceiros respons&aacute;veis pela viabiliza&ccedil;&atilde;o da realiza&ccedil;&atilde;o do pagamento e outros fornecedores da ICREDIT, como fornecedores de tecnologia, para possibilitar a realiza&ccedil;&atilde;o da intermedia&ccedil;&atilde;o do processo de pagamento.</li>
</ol>

<ol start="1">
  <li>A ICREDIT compartilhar&aacute; os Dados com as Credenciadoras para que essas possam efetivamente processar o seu pagamento ao Fornecedor. Ap&oacute;s esse compartilhamento e efetiva&ccedil;&atilde;o do seu pagamento pela Credenciadora, a ICREDIT manter&aacute;os Dados referentes &agrave; transa&ccedil;&atilde;o e das credenciais de pagamento utilizadas (os primeiros 6 d&iacute;gitos e os &uacute;ltimos 4 d&iacute;gitos do&nbsp;cart&atilde;o de cr&eacute;dito) por 5 anos de forma segura. S&oacute; ser&atilde;o utilizados seu nome e e-mail para os Usos Autorizados.</li>
  <li>Note, por favor, que nos casos em que Voc&ecirc; fornecer seus Dados diretamente a terceiros, por exemplo, ao Fornecedor, n&atilde;o estaremos falando de compartilhamento de Dados pela ICREDIT com esses terceiros, mas fornecimento direto por Voc&ecirc;.</li>
</ol>

<ol start="2">
  <li>Transfer&ecirc;ncias Internacionais.&nbsp;Seus Dados poder&atilde;o ser tratados por fornecedores da ICREDIT, que garantir&atilde;o a sua seguran&ccedil;a e sigilo, e que poder&atilde;o estar localizadas no Brasil ou no exterior. Nesse &uacute;ltimo caso, haver&aacute; uma transfer&ecirc;ncia internacional de Dados, o que ser&aacute; necess&aacute;rio para fins de viabilizar a intermedia&ccedil;&atilde;o&nbsp;do processamento do seu pagamento e com o que Voc&ecirc; expressamente declara estar ciente.</li>
</ol>

<h3 id="s6">6. OUTRAS INFORMA&Ccedil;&Otilde;ES</h3>

<ol start="1">
  <li>Por quanto tempo manteremos seus dados?&nbsp;Com exce&ccedil;&atilde;o dos Dados de referentes &agrave; transa&ccedil;&atilde;o e dados da credencial de pagamento utilizada, os seus Dados ser&atilde;o mantidos enquanto (i) a Nossa rela&ccedil;&atilde;o contratual for mantida; (ii) Voc&ecirc; n&atilde;o solicitar a exclus&atilde;o e/ou (ii) eles n&atilde;o puderem ser eliminados por ser necess&aacute;rio para (a)&nbsp;o cumprimento de uma obriga&ccedil;&atilde;o legal ou para (b) a formula&ccedil;&atilde;o, exerc&iacute;cio e defesa de reivindica&ccedil;&otilde;es.</li>
</ol>

<ol start="1">
  <li>Se Voc&ecirc; revogar seu consentimento (quando aplic&aacute;vel) ou exercer o direito de exclus&atilde;o&nbsp;(veja item 6.3.), seus Dados ser&atilde;o mantidos bloqueados durante os prazos legalmente estabelecidos para atender &agrave;s poss&iacute;veis responsabilidades decorrentes do tratamento dos mesmos.</li>
</ol>

<ol start="2">
  <li>Quais s&atilde;o os seus direitos?&nbsp;S&atilde;o direitos dos titulares: (i) a confirma&ccedil;&atilde;o da exist&ecirc;ncia de tratamento, (ii) o acesso aos Dados, (iii) a corre&ccedil;&atilde;o de dados incompletos, inexatos ou desatualizados, (iv) a anonimiza&ccedil;&atilde;o, bloqueio ou elimina&ccedil;&atilde;o de dados desnecess&aacute;rios, excessivos ou tratados em desconformidade a Lei, (v) a exclus&atilde;o dos Dados tratados com base no consentimento do titular, observadas as ressalvas legais, (vi) nos casos em que for poss&iacute;vel, a portabilidade dos dados, (vii) informa&ccedil;&atilde;o sobre as entidades p&uacute;blicas e privadas com as quais fora realizado o uso compartilhado de Dados, (viii) informa&ccedil;&atilde;o sobre a possibilidade de n&atilde;o fornecer o consentimento ao tratamento de Dados (caso em que a utiliza&ccedil;&atilde;o dos servi&ccedil;os ser&aacute; limitada ou impossibilitada), (iv) a possibilidade de revogar o seu consentimento, quando aplic&aacute;vel, e (v) de revis&atilde;o de decis&otilde;es individuais automatizadas.</li>
</ol>

<ol start="1">
  <li>Voc&ecirc; poder&aacute; exercer seus direitos perante a ICREDIT mediante requisi&ccedil;&atilde;o a ser enviada nos Canais de Atendimento da ICREDIT:</li>
</ol>

<p>E-mail: contato@bavabank.com</p>
<p>Telefone: 0800 326 0941</p>
<p>Correspond&ecirc;ncia: Rua Castilho, 392 - 11 andar, Brooklin - S&atilde;o Paulo - SP, 04568-010</p>

<ol start="2">
  <li>Os titulares de Dados podem, em qualquer caso, apresentar uma reclama&ccedil;&atilde;o junto &agrave; Autoridade Nacional de Prote&ccedil;&atilde;o de Dados, especialmente quando n&atilde;o obtiverem satisfa&ccedil;&atilde;o no exerc&iacute;cio de seus direitos.</li>
  <li>Caso Voc&ecirc; tenha qualquer d&uacute;vida em rela&ccedil;&atilde;o ao tratamento de seus Dados realizado pelo Fornecedor e/ou pela Credenciadora, dever&aacute; entrar em contato diretamente com o Fornecedor e/ou Credenciadora, nos canais indicados por esses.</li>
</ol>

<ol start="3">
  <li>Exclus&atilde;o dos Dados. Os Dados ser&atilde;o exclu&iacute;dos das bases de dados da ICREDIT mediante (a) requisi&ccedil;&atilde;o dos titulares dos Dados ou (b) quando estes n&atilde;o forem mais necess&aacute;rios para os Usos Autorizados (veja item 4.2), salvo se houver qualquer outra raz&atilde;o, base legal ou contratual, para a sua manuten&ccedil;&atilde;o, como (b.i) eventual obriga&ccedil;&atilde;o legal de reten&ccedil;&atilde;o de dados pessoais, (b.ii) necessidade de preserva&ccedil;&atilde;o destes para resguardo de direitos, (b.iii) interesses leg&iacute;timos da ICREDIT ou (b.iv) em raz&atilde;o de ordem judicial.</li>
  <li>Dessa forma, A ICREDIT SE RESERVA O DIREITO DE ACESSAR, LER, PRESERVAR E DIVULGAR QUAISQUER DADOS NECESS&Aacute;RIOS PARA: CUMPRIR UMA OBRIGA&Ccedil;&Atilde;O LEGAL OU UMA ORDEM JUDICIAL EMANADA DE AUTORIDADES COMPETENTES; FAZER CUMPRIR E APLICAR ESSA POL&Iacute;TICA DE PRIVAICDADE, OS TERMOS DE USO E OUTROS ACORDOS FIRMADOS COM VOC&Ecirc;; PROTEGER OS DIREITOS, PROPRIEDADE E SEGURAN&Ccedil;A DA ICREDIT, EMPRESAS DO GRUPO E/OU DE SEUS PARCEIROS, E SEUS RESPECTIVOS REPRESENTANTES, PRESTADORES DE SERVI&Ccedil;OS, COLABORADORES E USU&Aacute;RIOS.</li>
  <li>As Partes se comprometem a seguir regras de privacidade, prote&ccedil;&atilde;o de dados, confidencialidade ou requisitos de seguran&ccedil;a de informa&ccedil;&otilde;es, em conformidade com as melhores pr&aacute;ticas e a legisla&ccedil;&atilde;o aplic&aacute;vel, com o objetivo de garantir a confidencialidade e o uso adequado dos dados e a sua n&atilde;o divulga&ccedil;&atilde;o, exceto na forma autorizada pela presente Pol&iacute;tica de Privacidade ou pela legisla&ccedil;&atilde;o pertinente.</li>
  <li>Em nenhuma circunst&acirc;ncia a ICREDIT ou qualquer de seus parceiros ou fornecedores poder&atilde;o ser responsabilizadas por qualquer delito, neglig&ecirc;ncia, descumprimento contratual ou outra hip&oacute;tese de il&iacute;cito civil ou penal que venham a ser causados por Voc&ecirc;, sendo de Sua total responsabilidade arcar com todos e quaisquer danos, monet&aacute;rios ou de outra natureza, decorrentes de sua atua&ccedil;&atilde;o indireta, direta ou incidental, cabendo &agrave; ICREDIT o direito de regresso por tais situa&ccedil;&otilde;es.</li>
  <li>A ICREDIT busca sempre manter medidas de seguran&ccedil;a t&eacute;cnicas, f&iacute;sicas e administrativas para fornecer prote&ccedil;&atilde;o razo&aacute;vel para os Dados contra perda, mau uso, acesso n&atilde;o autorizado, divulga&ccedil;&atilde;o e altera&ccedil;&atilde;o (como firewalls, controles de acesso e criptografia de dados) e manter o ambiente da Plataforma BAVA seguro. Ainda que a ICREDIT mantenha essas medidas, Voc&ecirc; deve manter em seguran&ccedil;a suas informa&ccedil;&otilde;es, bem como se utilizar apenas de ambiente e equipamentos seguros para realizar as conex&otilde;es necess&aacute;rias.</li>
  <li>A ICREDIT poder&aacute;, conforme a necessidade, adequar essa Pol&iacute;tica de Privacidade periodicamente. Caso sejam realizadas quaisquer altera&ccedil;&otilde;es neste documento, n&oacute;s iremos te notificar, momento que, caso n&atilde;o concorde com os novos termos, voc&ecirc; poder&aacute; optar em n&atilde;o acessar a Plataforma BAVA e exercer seus direitos (veja item 6.2).</li>
  <li>Dependendo das intera&ccedil;&otilde;es que voc&ecirc; realizar na Plataforma BAVA, &eacute; poss&iacute;vel que haja a contrata&ccedil;&atilde;o de servi&ccedil;os ou produtos fornecidos diretamente por terceiros. Nesse caso, Voc&ecirc; estar&aacute; sujeito aos termos e condi&ccedil;&otilde;es e pol&iacute;tica de privacidade deste terceiro. A ICREDIT n&atilde;o possui qualquer inger&ecirc;ncia no estabelecimento desses termos e pol&iacute;ticas. Caso Voc&ecirc; decida utilizar os servi&ccedil;os e aplica&ccedil;&otilde;es de terceiros, Voc&ecirc; o far&aacute; por sua conta e risco.</li>
  <li>Essa Pol&iacute;tica de Privacidade &eacute; regida pelas Leis da Rep&uacute;blica Federativa do Brasil.</li>
  <li>Fica desde j&aacute; eleito o foro da comarca de S&atilde;o Paulo/SP para dirimir quaisquer conflitos relacionados a estes Termos de Uso, por mais privilegiado que outro possa ser ou vir a ser.</li>
</ol>

<p>&Uacute;ltima atualiza&ccedil;&atilde;o: 12/11/2021</p>
